body{
margin:0;

  text-align:center;
/* font-family: "Brush Script MT", cursive; */

/* font-family: 'Sacramento', cursive; */
  background-color:#E4F9F5;
}
h1{


  margin-top:0px;
font-family: 'Sacramento', cursive;
font-size: 100px;
  color:#66BFBF;
}
/* p{
  display:inline;
} */
.top-container{


padding-top: 100px

}
.pro{
  text-decoration: underline;

}

.image1{

  width:200px;
  position: absolute;
  left:200px;
  top:100px;

}
.image2{

  width:200px;
  position: absolute;
  right:200px;
  top:160px;

}

.image3{
  width:1100px;


}
.gunnu{
  font-family: 'Caveat', cursive;
  font-size: 50px;
    color:#66BFBF;
}
.image4{
  width:8%;
}
.profile{
  padding-top:20px;
}

hr{
  width:5%;
  border-style:none;
  border-top-style:dotted;
  color:grey;
  border-width:7px;
}

.jan{
font-size: 23px;
font-family: 'Courgette', cursive;
}

.image6{
  width:7%;
  position:relative;
  right:520px;
  bottom:50px;

}

.image7{
  width:7%;
  position:relative;
  left:620px;
  bottom:80px;


}
.jaan{
  position: relative;
  right:300px;
    bottom:140px;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
}
.mata{

  position: relative;
  left:300px;
    bottom:170px;
    font-size: 27px;
    font-family: 'Satisfy', cursive;

}

.middle-container{


padding-top: 70px

}
.skill1{
  font-size:58px;
font-family: 'Tangerine', cursive;
  color:#66BFBF;
}
.touch1{
  font-size:60px;
  font-family: 'Parisienne', cursive;
  color:#66BFBF;
}
.head1{
  font-size: 48px;
    color:#66BFBF;
    font-family: 'Sriracha', cursive;
}
.touch2{
  font-size: 30px;
    color:#11999E;
    font-family: 'Bad Script', cursive;
}
.button{
  font-size: 34px;
    color:#D6E4E5;
    font-family: 'Damion', cursive;
    background-color: #11999E;
    border:inherit;
}

.bottom-container{
  background-color:#66BFBF;

margin-bottom: 0px;
padding-bottom:20px;
padding-top: 20px;

}
.footer-link1{
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  color:#11999E;
  position: relative;
  right:45px;
  underline:none;
}
.footer-link2{
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  color:#11999E;
  position: relative;
  underline:none;
  /* right:10px; */
}
.footer-link3{
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  color:#11999E;
  position: relative;
  left:45px;
    underline:none;


}
.last{
  color:#EAF6F6;
}
/* .middle-container{
  background-color:red;
  width:200px;
  height:200px;} */



  /* padding:20px; */
  /* border:20px;
  margin-left: 250px;
  /* padding-left: 50px;
    padding-top: 50px; */
    /* border-style: solid;
} */

/* .bottom-container{
  background-color:yellow;
  width:200px;
  height:200px;
  /* padding:20px; */
  /* border:10px;
  margin-left: 480px;
  /* padding-left: 50px; */
    /* padding-top: 50px; */
    /* border-style: solid; */ */
/* } */ */ */ */















<div class="middle-container">
  <div class="profile">
    <img src="" alt="">
    <h2>Hello.</h2>
    <p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="" src="" alt="">
      <h3>Lorem &amp; Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
      <img class="" src="" alt="">
      <h3>Lorem Ipsum Dolor</h3>
      <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
    <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
  </div>
</div>

<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
  <p>© Name Surname.</p>
</div>
